<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Auth Gateway</title>
    <meta name="google-site-verification" content="pBTFz4FHeGZO7MkyKXmmcO2Q2KYodIi5qdFC9ErhILs">
</head>
<body>
    <nav>
        <div class="nav-wrapper" style="background:#555;">
            <span class="brand-logo center">AuthGateway API</span>
        </div>
    </nav>
    <ul class="collection">
        <li class="collection-item">
            <div>API base URL</div>  
            <div class="collection-item">http://localhost:3000/</div> 
        </li>
        <li class="collection-item">
            <div>Callback URL</div>
            <div class="collection-item">production: http://localhost:4200/profile/:cusotmer_id</div>
            <div class="collection-item">development: http://localhost:3000/profile/:cusotmer_id</div>
        </li>
        <li class="collection-item">
            <div>Log in with Google</div>
            <div class="collection-item">http://localhost:3000/auth/google</div>
        </li>
        <li class="collection-item">
            <div>Log in with Facebook</div>
            <div class="collection-item">http://localhost:3000/auth/facebook</div>
        </li>
        <li class="collection-item">
            <div>Log in with Twitter</div>
            <div class="collection-item">http://localhost:3000/auth/twitter</div>
        </li>
        <li class="collection-item">
            <div>Log in with Linkedin</div>
            <div class="collection-item">http://localhost:3000/auth/linkedin</div>
        </li>
        <li class="collection-item">
            <div>Log in with LINE</div>
            <div class="collection-item">http://localhost:3000/auth/line</div>
        </li>
        <li class="collection-item">
            <div>Log in with Account/Password</div>
            <div class="collection-item">http://localhost:3000/local/login</div>
        </li>
        <li class="collection-item">
            <div>Test Engine</div>
            <a class="collection-item" href="http://localhost:3000/auth/login-index">http://localhost:3000/auth/login-index</a>
        </li>
    </ul>
</body>
</html>
